
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar-wrp {
  width: 250px;
  background-color: #f8f9fa;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.main-wrp {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header_mainPage-wrp {
  background-color: #f8f9fa;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 10px;

}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar-wrp {
    width: 100%;
    height: auto;
    box-shadow: none;
  }

  .main-wrp {
    flex: none;
  }
}